<form #signUpForm="ngForm">
    <div *ngIf="uniqueError" class="alert alert-danger">The username was taken</div>
    <div class="form-group">
        <label for="username">Username</label>
        <input #username="ngModel" [(ngModel)]="account.username" name="username" id="username" type="text"
            class="form-control" required [rangeLength]="[6,20]">
        <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
            <div *ngIf="username.errors?.required">Enter a Username</div>
            <div *ngIf="username.errors?.rangeLength">Username should be between 6 to 20 characters</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input #password="ngModel" [(ngModel)]="account.password" name="password" id="password" type="password"
            class="form-control" required [rangeLength]="[6,20]">
        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <div *ngIf="password.errors?.required">Enter a password</div>
            <div *ngIf="password.errors?.rangeLength">Password Length should be between 6 to 20 characters</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input #confirmPassword="ngModel" [(ngModel)]="cPassword" name="confirmPassword" id="confirmPassword"
            type="password" class="form-control" required [equalTo]="password">
        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors?.required">Confirm password</div>
            <div *ngIf="confirmPassword.errors?.equalTo">Passwords must match</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="signUp()" [disabled]="signUpForm.invalid">Sign Up</button>
</form>