<div class="container">
    <table class="table">
        <thead>
            <th>Username</th>
            <th>Number Of Recipes</th>
            <th></th>
        </thead>

        <tbody *ngIf="accounts$ | async as accounts">
            <tr *ngFor="let account of accounts">
                <td>{{account.username}}</td>
                <td>{{account.recipesCreated.length}}</td>
                <td>
                    <a [routerLink]="['/profile/',account.username]">View Profile</a>
                </td>
            </tr>
        </tbody>

    </table>
</div>