<div class="container">


    <form class="form-inline float-right">
        <label class="sr-only" for="inlineFormInputName2">Category Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Category Name">

        <button type="button" class="btn btn-primary mb-2">Add Category</button>
    </form>
    <table class="table">
        <thead>
            <th>Category Name</th>
            <th>Number Of Recipes</th>
            <th>

            </th>
        </thead>

    </table>
</div>