<div class="row">
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
    <div class="col-md-4">
        <app-recipe-card></app-recipe-card>
    </div>
</div>