<div class="container">

    <!-- <button class="btn btn-primary" (click)="createNewRecipe()">Create a New Recipe</button> -->
    <h1 *ngIf="user">{{user.username}}'s Recipes
    </h1>

    <h3>Recipes Unpublished</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12 my-3" *ngFor="let recipe of recipesUnpublished">
            <app-recipe-card [recipe]="recipe" [canEdit]="true" ></app-recipe-card>
        </div>
        <h4 *ngIf="recipesUnpublished.length == 0" class="m-5 text-center">No Recipes Created</h4>
    </div>
    <h3>Recipes Published</h3>
    <div class="row">
        <div class="col-md-4 col-sm-12 my-3" *ngFor="let recipe of recipesPublished">
            <app-recipe-card [recipe]="recipe" [canEdit]="true" ></app-recipe-card>
        </div>
        <h4 *ngIf="recipesPublished.length == 0" class="m-5">No Recipes Created</h4>
    </div>
</div>
<app-new-recipe-btn></app-new-recipe-btn>