<div class="card h-100">
    <img class="card-img-top" [src]="recipe.imageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{recipe.name}}<br>
            <app-recipe-star-rating [averageRating]="recipe.averageRating" [numberOfRating]="recipe.numberOfRating">
            </app-recipe-star-rating>
        </h5>
        {{recipe.account.username}}
        <p class="card-text">{{recipe.description | summary}}</p>

    </div>
    <div class="card-footer">
        <a [routerLink]="['/recipe/',recipe.id]" class="btn btn-primary">Details</a>
        <a *ngIf="canEdit" class="btn btn-warning ml-3" [routerLink]="['/recipe/edit/',recipe.id]" >Edit</a>
    </div>
</div>