<form class="form-inline">
    <label class="sr-only" for="">Add a category:</label>
    <input #instance="ngbTypeahead" id="category-typeahead" type="text" class="form-control"
        [ngModelOptions]="{standalone: true}" [(ngModel)]=" filterCategory" [ngbTypeahead]="search"
        [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
        (focus)="focus$.next($event.target.value)" (click)="click$.next($event.target.value)"
        (keyup.enter)="addCategory(tooltip)" placeholder="Lookup a Category" ngbTooltip="Invalid category"
        #tooltip="ngbTooltip" tooltipClass="my-custom-class" triggers="manual">
    <button type="button" class="btn btn-primary" (click)="addCategory(tooltip)">Add Category</button>
</form>