<div class="container" *ngIf="recipe">
    <div class="border rounded p-3 mb-3">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>{{recipe.name}}</h1>

                <app-recipe-star-rating *ngIf="!isRating" [averageRating]="recipe.averageRating"
                    [numberOfRating]="recipe.numberOfRating" [canRate]="user" (addRate)="rateRecipe($event)">
                </app-recipe-star-rating>

                <app-author-media [account]="recipe.account">
                </app-author-media>
                <div>
                    <strong>Description:</strong><br>
                    {{recipe.description}}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <img class="img-fluid" [src]="recipe.imageUrl">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Instructions</h3>
            <app-instructions [recipe]="recipe" [canEdit]="false"></app-instructions>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Ingredients</h3>
            <app-ingredients [recipe]="recipe" [canEdit]="false"></app-ingredients>
        </div>
    </div>

</div>