<form #recipeForm="ngForm" (ngSubmit)="save(recipeForm.value)">
    <div class="alert alert-danger" *ngIf="error">
        Something Went Wrong
    </div>
    <div class="form-group">
        <label for="name">Recipe Name</label>
        <input #name="ngModel" ngModel name="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">A Name is Required</div>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea #description="ngModel" ngModel name="description" id="description" type="text" class="form-control">
            </textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>