<div class="container">
    <div *ngIf="authorized; else unauthorized">
        <h2>Editing
            <span *ngIf="!editName; else editingName">
                {{recipe.name | titlecase}}
                <button class="btn btn-warning btn-sm" (click)="toggleEditName()">Change Name</button>
            </span>
            <ng-template #editingName>
                <input #nameInput [value]="recipe.name">
                <button class="btn btn-primary btn-sm" (click)="saveRecipeName(nameInput.value)">Save Name</button>
                <button class="btn btn-danger btn-sm" (click)="toggleEditName()">Cancel</button>
            </ng-template>
        </h2>

        <div>
            <button *ngIf="!recipe.published; else published" class="btn btn-info"
                (click)="togglePublished()">Publish</button>
            <ng-template #published>
                <button class="btn btn-secondary" (click)="togglePublished()">Unpublish</button>
            </ng-template>
            <h6>Current Status:
                <span class="text-success" *ngIf="recipe.published">Published</span>
                <span class="text-danger" *ngIf="!recipe.published">Not-Published</span>
            </h6>
        </div>

        <app-category-typeahead (categoryEmitter)="addCategory($event)"></app-category-typeahead>
        <p *ngFor="let c of recipe.categoryTags">{{c.name}}</p>

        <div class="my-3 image-container">
            <img [src]="recipe.imageUrl" class="img-fluid">
            <button class="btn btn-warning image-edit-btn rounded" (click)="toggelEditImage()">Change Image</button>
        </div>
        <div *ngIf="editImage">
            <form class="form-inline">
                <label class="sr-only" for="imageUrl">Image Url</label>
                <input #imageUrlInput (keyup.enter)="saveImageUrl(imageUrlInput.value)" type="text" name="imageUrl"
                    id="imageUrl" class="mb-2 mr-3 p-1" [value]=recipe.imageUrl>
                <button type="button" (click)="saveImageUrl(imageUrlInput.value)"
                    class="btn btn-primary mr-2">Save</button>
                <button type="button" class="btn btn-danger" (click)="toggelEditImage()">Cancel</button>
            </form>
        </div>

        <h3>Description <button class="btn btn-warning btn-sm"
                (click)="toggleEditDescription(); populateDescription()">Edit
                Description</button></h3>

        <p class="mb-5" *ngIf="!editDescription;else editingDescription">{{recipe.description || "(empty)"}}</p>
        <ng-template #editingDescription>
            <textarea class="w-100" [(ngModel)]="descriptionInput" [maxlength]="500"></textarea>
            <div class=" float-right length-text">{{descriptionInput.length}}/500</div>
            <button type="button" (click)="saveDescription()" class="btn btn-primary mr-2">Save</button>
            <button type="button" class="btn btn-danger" (click)="toggleEditDescription()">Cancel</button>
        </ng-template>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>Instructions</h3>
                <app-instructions [recipe]="recipe" [canEdit]="true"></app-instructions>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Ingredients</h3>
                <app-ingredients [recipe]="recipe" [canEdit]="true"></app-ingredients>
            </div>
        </div>


        <div class="alert alert-danger my-5">
            <button class="btn btn-danger" (click)="deleteRecipe()">Delete</button>
            No way to undelete a recipe
        </div>

    </div>

    <ng-template #unauthorized>
        <h3>Unauthorized to Edit this recipe</h3>
    </ng-template>
</div>