<div class="container">
    <div *ngIf="authorized; else unauthorized">
        <h3>Editing {{recipe.name}} <button class="btn btn-warning">Change Name</button></h3>

        <div class="my-3 image-container">
            <img [src]="recipe.imageUrl">
            <button class="btn btn-warning image-edit-btn" (click)="toggelEditingImage()">Change Image</button>
        </div>

        <h3>Description</h3>
        {{recipe.description}}

        <h3>Instructions</h3>

        <ol>
            <li>ins</li>
            <li>ins</li>
            <li>ins</li>
            <li>ins</li>
        </ol>
        <button class="btn btn-primary">Add Instruction</button>

        <h3>Ingredients</h3>


    </div>



    <ng-template #unauthorized>
        <h3>Unauthorized to Edit this recipe</h3>
    </ng-template>
</div>