<div class="container" *ngIf="user$ | async as user">
    <h1>My Profile</h1>
    <h3>Welcome {{user.username}}</h3>
    <p>Id : {{user.id}}</p>

    <div class="my-3">
        <img [src]="user.profileImageUrl">
        <button class="btn btn-warning btn-sm">Edit</button>
    </div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="imgUrl"></label>
                <input type="text" id="imgUrl" name="imgUrl">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>



    <div>
        <h4>About Me <button class="btn btn-warning btn-sm"
                (click)="toggleEditAboutMe(); populateAboutMe(user.aboutMe);">Edit</button></h4>
        <div *ngIf="user.aboutMe; else addAboutMe">
            <p>{{user.aboutMe}}</p>
        </div>
        <ng-template #addAboutMe>
            <button class="btn btn-primary" (click)="toggleEditAboutMe()">Add an About Me</button>
        </ng-template>

        <form *ngIf="aboutMeEditing">
            <div class="form-group">
                <label for="eAboutMe">Write something about yourself</label>
                <textarea [(ngModel)]="aboutMeTextArea" name="eAboutMe" id="eAboutMe" class="w-100" [maxlength]="500">
                </textarea>
                <div class="float-right length-text">{{aboutMeTextArea.length}}/500</div>
            </div>
            <button class="btn btn-primary" type="button" (click)="saveAboutMe(user.id)">Save</button>
        </form>

    </div>

    <p>{{user | json}}</p>
</div>