<div class="container" *ngIf="user">
    <h1>My Profile</h1>
    <h3>Welcome: {{user.username}}</h3>

    <div class="my-3 image-container">
        <img [src]="user.profileImageUrl">
        <button class="btn btn-warning btn-sm image-edit-btn" (click)="toggelEditingImage()">Change Image</button>
    </div>

    <form class="form-inline" *ngIf="editingImage">
        <div class="form-group">
            <label for="imgUrl"></label>
            <input [(ngModel)]="imageUrlInput" type="text" id="imgUrl" name="imgUrl">
        </div>
        <button class="btn btn-primary ml-3" (click)="saveImageUrl(user.id)">Save</button>
        <button class="btn btn-danger ml-3" (click)="toggelEditingImage(); imageUrlInput=''">Cancel</button>
    </form>



    <div class="p-3 border border-dark rounded my-3">
        <h4>About Me <button class="btn btn-warning btn-sm" *ngIf="user.aboutMe"
                (click)="toggleEditAboutMe(); populateAboutMe(user.aboutMe);">Edit</button></h4>
        <div *ngIf="user.aboutMe; else addAboutMe">
            <p *ngIf="!aboutMeEditing">{{user.aboutMe}}</p>
        </div>
        <ng-template #addAboutMe>
            <button class="btn btn-primary" (click)="toggleEditAboutMe()">Add an About Me</button>
        </ng-template>

        <form *ngIf="aboutMeEditing">
            <div class="form-group">
                <label for="eAboutMe">Write something about yourself</label>
                <textarea [(ngModel)]="aboutMeTextArea" name="eAboutMe" id="eAboutMe" class="w-100" [maxlength]="500">
                </textarea>
                <div class="float-right length-text">{{aboutMeTextArea.length}}/500</div>
            </div>
            <button class="btn btn-primary" type="button" (click)="saveAboutMe(user.id)">Save</button>
            <button class="btn btn-danger ml-3" (click)="toggleEditAboutMe()">Cancel</button>
        </form>
    </div>
    <button routerLink="/my/recipes" class="btn btn-link  btn-outline-info">Go to My Recipes</button>
</div>