<div class="container" *ngIf="user$ | async as user">
    <h1>My Profile</h1>
    <h3>Welcome {{user.username}}</h3>

    <div class="my-3">
        <img [src]="user.profileImageUrl">
        <button class="btn btn-warning">Edit</button>
    </div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="imgUrl"></label>
                <input type="text" id="imgUrl" name="imgUrl">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>



    <div>
        <h4>About Me</h4>
        <p *ngIf="user.aboutMe; else addAboutMe ">{{user.aboutMe}}</p>
        <ng-template #addAboutMe>
            <button class="btn btn-primary">Add an About Me</button>
        </ng-template>

        <form>
            <div class="form-group">
                <label for="eAboutMe">Write something about yourself</label>
                <textarea [(ngModel)]="aboutMeTextArea" name="eAboutMe" id="eAboutMe" class="w-100"></textarea>
                <div class="float-right length-text">{{aboutMeTextArea.length}}/500</div>
            </div>
            <button class="btn btn-primary" type="button" (click)="saveAboutMe()">Save</button>
        </form>

    </div>

    <p>{{user | json}}</p>




</div>