<ul class="list-group">
    <li *ngFor="let ingredient of recipe.ingredientList;index as i;" class="list-group-item">
        {{ingredient.name}} {{ingredient.amount}}
    </li>

    <li class="list-group-item">
        <h6>Add New Ingredient</h6>
        <form class="form-inline">

            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" [(ngModel)]="account.password" name="password" id="password" type="password"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Enter a password</div>
            </div> -->

            <label class="sr-only" for="name">Ingredient Name</label>
            <input class="form-control mb-2 mr-sm-2" name="name" id="name" placeholder="Ingredient Name">

            <label class="sr-only" for="amount">Amount</label>
            <input class="form-control mb-2 mr-sm-2" name="amount" id="amount" type="text" placeholder="Amount (units)">

            <button type="button" class="btn btn-primary mb-2">Add Ingredient</button>
        </form>
    </li>


</ul>